.container__ul{
    padding: 1.75rem 1rem;
    display: flex;
    gap: 1.25rem;
    overflow-x: scroll;
    max-width: 100rem;
}
.container__ul::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.container__ul::-webkit-scrollbar {
    height: 6px;
    background: #F4F4F4;
}
.container__ul::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
@media (min-width: 770px) {
    .container__ul{
        flex-wrap: wrap;
        overflow-x: none;
        row-gap: 3.25rem;
    }
    .container__ul::-webkit-scrollbar-track {
        background-color: var(--color-white);
    }
    .container__ul::-webkit-scrollbar {
        background:var(--color-white);
    }
    .container__ul::-webkit-scrollbar-thumb {
        background:var(--color-white);
    }
  }